<html lang="en">
<head>
    <title>sweater</title>
</head>
<body>
    <form method="post" action="/login">
        <div><label> Имя пользователя: <input type="text" name="username"/> </label></div>
        <div><label> Пароль: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Войти"/></div>
    </form>

</body>
</html>