<html lang="en">
<body>
    <div>
        <form method="post" action="/logout">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Выйти" />
        </form>
    </div>
    <div>
        <form method="post" action="/messages">
            <input type="text" name="text" placeholder="Введите сообщение" />
            <input type="text" name="tag" placeholder="Тэг">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Добавить</button>
        </form>
    </div>

    <form method="post" action="/messages/filter">
        <input type="text" name="tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Найти</button>
    </form>

    <div>Список сообщений</div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
            <strong>{{author.username}}</strong>
        </div>
    {{/messages}}
</body>
</html>